html {
    background-color: black;
}
body {
    padding-top: 49px;
}
#trailer .modal-dialog {
    margin-top: 200px;
    max-width: 640px;
    max-height: 480px;
}
#trailer .modal-dialog h1, p {
    margin: 20px;
}
button.close {
    padding-right: 15px;
    padding-top: 10px;
}
#intro {
    height: 70vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: linear-gradient( rgba(0, 0, 0, .15), rgba(0, 0, 0, .5) ), url(https://images.vice.com/motherboard/content-images/article/no-id/1443710960248436.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 15px solid black;
}
#intro h1 {
    margin-top: 50px;
    margin-right: 10%;
}
#intro h1 a {
    color: black;
}
#trailer-video {
    width: 100%;
    height: 100%;
}
.movie-tile {
    margin-bottom: 20px;
    padding: 10px;
}
.movie-tile:hover {
    background-color: black;
    cursor: pointer;
}
.movie-tile img {
    border: 0.5px solid red;
}
#movie-list {
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ), url('https://taylorholmes.com/wp-content/uploads/2010/07/inception-explained.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 10px solid black;
}
.container .jumbotron {
    border-radius: 0px;
}
.jumbotron {
    background: none;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 40px;
    padding-left: 50px;
}
#movie-quote-list {
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ), url('http://yesofcorsa.com/wp-content/uploads/2015/10/2820_wall-e.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.movie-quote {
    color: white;
    background-color: rgba(0, 0, 0, .5);
    margin: 5px 5px;
}
.movie-quote h3, p {
    padding: 10px;
    margin: 0;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}
